{% extends 'SonataAdminBundle:CRUD:base_list_field.html.twig' %}

{% block field %}
    {% spaceless %}
        <a href="{{ path('download_quote', {'id': object.id}) }}">
            <img src="https://cdn1.iconfinder.com/data/icons/CS5/16/ACP_PDF%202_file_document.png" />
            Télécharger le devis
        </a>
    {% endspaceless %}
{% endblock %}