/app/bootstrap.php.cache
/app/cache/
!app/cache/.gitkeep
/app/config/parameters.yml
/app/logs/
!app/logs/.gitkeep
/app/sessions/
!app/sessions/.gitkeep
/app/spool/
!app/spool/.gitkeep
/bin/
/build/
/vendor/
/web/bundles/
/web/css/
/web/fonts/
/web/js/
/web/uploads/
!web/uploads/.gitkeep
/composer.phar
/composer.lock