/app/bootstrap.php.cache
/app/cache/*
!app/cache/.gitkeep
/app/config/parameters.yml
/app/logs/*
!app/logs/.gitkeep
/app/spool/*
!app/spool/.gitkeep
/bin/
/build/
/vendor/
/web/bundles/
/web/uploads/
/.idea/
.DS_Store
/nbproject/
/composer.phar
/composer.lock