{% extends 'MyQuoteBundle:Quote:quote.html.twig' %}

{% block total %}
    <tfoot>
        <tr>
            <th colspan="2" style="text-align:right">Acompte</th>
            <th>-{{ (object.amount/2)|number_format(2, ',', ' ') }} €</th>
        </tr>
        <tr>
            <th colspan="2" style="text-align:right">TOTAL HT</th>
            <th>{{ (object.amount/2)|number_format(2, ',', ' ') }} €</th>
        </tr>
    </tfoot>
{% endblock %}

{% block infos %}
    <table class="table table-bordered">
        <tbody>
            <tr>
                <td>
                    <p><strong>Modes de règlement :</strong></p>
                    <p>Le client peut régler par virement bancaire ou chèque.</p>
                    <p><strong>Date d'échéance :</strong></p>
                    {{ object.createdAt|date_modify('+30 days')|localizeddate('full', 'none')|capitalize }}
                </td>
            </tr>
        </tbody>
    </table>
{% endblock %}