@font-face {
    font-family: 'Glyphicons Halflings';
    src: url('fonts/glyphicons-halflings-regular.eot');
    src: url('fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'),
         url('fonts/glyphicons-halflings-regular.woff') format('woff'),
         url('fonts/glyphicons-halflings-regular.ttf') format('truetype'),
         url('fonts/glyphicons-halflings-regular.svg#glyphicons-halflingsregular') format('svg');
}

body {
    font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.428571429;
    color: #4C2A69;
    background-color: #fff;
}

address, em {
    font-style: normal;
}

em {
    font-size: 0.7em;
}

ul {
    margin-bottom: 0;
}

header, .row {
    overflow: hidden;
}

header.row {
    margin-bottom: 20px;
}

h1 {
    text-transform: uppercase;
    font-size: 2em;
    margin-bottom: 10px;
}

time {
    font-weight: bold;
    float: right;
    text-align: center;
    width: 33%;
}

table {
    width: 100%;
    margin-bottom: 20px;
}

.row {
    width: 200mm;
    margin: 0 auto;
}

.left {
    float: left;
    width: 40%;
}

header .left address {
    margin-bottom: 10px;
}

.right {
    float: right;
    width: 35%;
    text-align: center;
}

table th {
    padding: 5px 0;
}

table td {
    padding: 5px 10px;
}

table thead th, table tfoot th {
    background-color: #D9CFDC;
}

table tbody td, table tbody th {
    background-color: #F7F4F7;
}

article .right {
    padding-bottom: 10px;
    background-color: #D9CFDC;
}

article .right strong {
    display: block;
    margin: 20px 0;
}

.shipper, .siret, .mobile, .internet {
    position: relative;
    padding-left: 30px;
}

.shipper:before, .siret:before, .mobile:before, .internet:before {
    font-family: 'Glyphicons Halflings';
    -webkit-font-smoothing: antialiased;
    font-style: normal;
    font-size: 1.5em;
    font-weight: normal;
    line-height: 1;
    position: absolute;
    top: 0;
    left: 0;
}

.shipper:before {
    content: '\e021';
}

.siret:before {
    content: '\e056';
    top: 7px;
}

.mobile:before {
    content: '\e145';
}

.internet:before {
    content: '\e135';
    top: 7px;
}