{% extends 'MyCmsBundle::base.html.twig' %}

{% block article %}
    {% spaceless %}
        <h1>{{ article.title }}</h1>
        <section class="chapo">
            <span>{{ 'text.publication'|trans({'%date%': article.updatedAt|localizeddate('full', 'none')|capitalize}, 'VinceCms') }}</span>
        </section>
        <div class="contents">{{ article|content('contents') }}</div>
    {% endspaceless %}
{% endblock %}