{% extends 'MyCmsBundle::base.html.twig' %}

{% block current %}{{ article.slug }}{% endblock %}

{% block body %}
    {% spaceless %}
        <article>
            <header>
                <h1>{{ article.title }}</h1>
                <small>{{ 'Published on %date%'|trans({'%date%': article.updatedAt|localizeddate('full', 'none')|capitalize}, 'VinceCms') }}</small>
                {# todo-vince Include tags links #}
            </header>
            {{ article|content('contents') }}
        </article>
    {% endspaceless %}
{% endblock %}
