{% extends 'MyCmsBundle::base.html.twig' %}

{% block article %}
    {% spaceless %}
        <article>
            <h1>{{ article.title }}</h1>
            <section class="chapo">
                <span>{{ 'Published on %date%'|trans({'%date%': article.updatedAt|localizeddate('full', 'none')|capitalize}, 'VinceCms') }}</span>
            </section>
            <div class="contents">{{ article|content('contents') }}</div>
        </article>
    {% endspaceless %}
{% endblock %}
