{% extends 'MyCmsBundle::base.html.twig' %}

{% block body %}
    {% spaceless %}
        <article>
            <header>
                <h1>{{ article.title }}</h1>
            </header>
            {{ article|content('contents') }}
        </article>
    {% endspaceless %}
{% endblock %}