{% extends 'MyCmsBundle::base.html.twig' %}

{% block article %}
    {% spaceless %}
        <h1>{{ article.title }}</h1>
        <div class="contents">{{ article|content('contents') }}</div>
    {% endspaceless %}
{% endblock %}
