{% extends 'VinceCmsBundle::base.html.twig' %}

{% block body %}
    <h1>{{ block('title') }}</h1>

    <div class="contents">
        {% if articles|length %}
            <ul>
                {% for article in articles %}
                    <li><a href="{{ path(article.routeName) }}" title="{{ article.title }}">{{ article.title }}</a></li>
                {% endfor %}
            </ul>
        {% endif %}
    </div>
{% endblock %}