{% extends admin.getTemplate('base_show_field') %}

{% block field %}
    {% spaceless %}
        {%- if value is empty -%}
            &nbsp;
        {%- else -%}
            <a href="{{ value }}" target="_blank" class="url">{{ value }}</a>
        {%- endif -%}
    {% endspaceless %}
{% endblock %}