<!DOCTYPE html>
<html>
    <head>
        <title>Vincent Chalamon</title>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link href="/css/bootstrap.min.css" rel="stylesheet" media="screen" />
        <link href="/css/app.css" rel="stylesheet" />
        <!--[if lt IE 9]>
        <script src="/js/html5shiv.js"></script>
        <script src="/js/respond.min.js"></script>
        <![endif]-->
    </head>
    <body>
        <div class="container">
            <section class="col-md-6">
                <header>
                    <h1>Vincent Chalamon</h1>
                </header>
                <h2>Le site est en cours de construction…</h2>
                <p>Je reste cependant à votre écoute pour vos projets de création de sites Internet. Vous pouvez me
                   contacter à travers le formulaire ci-contre, et me suivre sur les réseaux sociaux :</p>
                <ul>
                    <li>
                        <a href="https://github.com/vincentchalamon" target="_blank" title="GitHub">
                            <img src="/images/github.png" alt="GitHub" title="GitHub" />
                        </a>
                    </li>
                    <li>
                        <a href="https://plus.google.com/113850880382890199738" target="_blank" title="Google+">
                            <img src="/images/google+.png" alt="Google+" title="Google+" />
                        </a>
                    </li>
                    <li>
                        <a href="https://twitter.com/vincentchalamon" target="_blank" title="Twitter">
                            <img src="/images/twitter.png" alt="Twitter" title="Twitter" />
                        </a>
                    </li>
                    <li>
                        <a href="http://fr.linkedin.com/in/vincentchalamon" target="_blank" title="LinkedIn">
                            <img src="/images/linkedin.png" alt="LinkedIn" title="LinkedIn" />
                        </a>
                    </li>
                    <li>
                        <a href="http://fr.viadeo.com/fr/profile/vincent.chalamon1" target="_blank" title="Viadeo">
                            <img src="/images/viadeo.png" alt="Viadeo" title="Viadeo" />
                        </a>
                    </li>
                </ul>
            </section>

            {% include 'form.html.twig' %}
        </div>

        <section class="slider">
            <div class="container">
                <h2>Quelques réalisations</h2>
                <a href="http://www.burkinafaso-cotedazur.org" target="_blank" class="caption">
                    <img src="burkina.jpg" alt="Consulat du Burkina Faso de Nice" title="Consulat du Burkina Faso de Nice" />
                    <h3>Consulat du Burkina Faso de Nice</h3>
                </a>
                <a href="http://www.tennishandisport.com" target="_blank" class="caption">
                    <img src="tennis.jpg" alt="Tennis HandiSport" title="Tennis HandiSport" />
                    <h3>Tennis HandiSport</h3>
                </a>
            </div>
        </section>

        <footer>
            <p>&copy; 2013. Tous droits réservés - Vincent Chalamon</p>
        </footer>

        <div class="fork">
            <a href="https://github.com/vincentchalamon" title="Fork me on GitHub !" target="_blank">Fork me on GitHub !</a>
        </div>

        <script type="text/javascript" src="http://code.jquery.com/jquery.min.js"></script>
        <script type="text/javascript" src="/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="/js/jquery.autosize.min.js"></script>
        <script type="text/javascript" src="/js/app.js"></script>
    </body>
</html>