parameters:
    doctrine.orm.metadata.driver_chain.class: Doctrine\Common\Persistence\Mapping\Driver\MappingDriverChain
    database_driver:        pdo_mysql
    database_host:          127.0.0.1
    database_port:          ~
    database_name:          sandbox
    database_user:          root
    database_password:      ~
    database_path:          ~

    mailer_transport:       smtp
    mailer_host:            localhost
    mailer_user:            ~
    mailer_password:        ~

    locale:                 fr
    secret:                 a149c3le9kw08w804gs0wkc4c8ogk4k
    ga_tracking:            ~
    domain:                 www.sandbox.fr
    sitename:               Sandbox
    email_no_reply:         no-reply@sandbox.fr
    email_contact:          contact@sandbox.fr