parameters:
    doctrine.orm.metadata.driver_chain.class: Doctrine\Common\Persistence\Mapping\Driver\MappingDriverChain
    database_driver:        pdo_mysql
    database_host:          127.0.0.1
    database_port:          ~
    database_name:          symfony
    database_user:          root
    database_password:      ~
    database_path:          ~

    mailer_transport:       smtp
    mailer_host:            localhost
    mailer_user:            ~
    mailer_password:        ~
    mailer_port:            ~
    mailer_encryption:      ~

    locale:                 fr
    secret:                 a149c3le9kw08w804gs0wkc4c8ogk4k

    admin_domain:           admin.sandbox.com

    tracking_code:          ~
    domain:                 www.sandbox.com
