{% extends 'VinceCmsBundle::base.html.twig' %}

{% block body %}
    {% if articles|length %}
        <ul>
            {% for article in articles %}
                <li><a href="{{ path(article.routeName) }}" title="{{ article.title }}">{{ article.title }}</a></li>
            {% endfor %}
        </ul>
    {% endif %}
{% endblock %}