{% extends "VikingMainBundle::layout.html.twig" %}
{% block title %}{{ parent() }} - Home{% endblock %}

{% block body %}
    <div class="container">
        <div class="col-md-12">
            Block body de la page index ;), ou Home c'est paweil chef !
        </div>
    </div>
{% endblock %}
