{% extends 'VikingMainBundle::base.html.twig' %}

{% block header %}
    <div class="container">
        <div class="col-md-12">
            Header Admin
        </div>
    </div>
{% endblock %}

{% block menu %}
    <div class="container">
        <div class="col-md-12">
            Menu Admin
        </div>
    </div>
{% endblock %}


{% block body %}
    <div class="container">
        <div class="col-md-12">
            Page Admin
        </div>
    </div>
{% endblock %}


{% block footer %}
    <div class="container">
        <div class="col-md-12">
            Footer Admin
        </div>
    </div>
{% endblock %}

