.jquery-timeline-next,
.jquery-timeline-prev {
    background: url('../img/prev.png') no-repeat;
    width: 30px;
    height: 30px;
    position: absolute;
    top: 45px;
}
.jquery-timeline-prev {
    left: 0;
}
.jquery-timeline-next {
    background-image: url('../img/next.png');
    right: 0;
}

.jquery-timeline-container {
    overflow: hidden;
    height: 120px;
    position: relative;
    margin: 0 auto;
}

.jquery-timeline-items, .jquery-timeline-grid {
    position: absolute;
    right: 0;
}
.jquery-timeline-items {
    top: 10px;
}
.jquery-timeline-grid-item {
    width: 100px;
    background-color: #E1EAF1;
    height: 1px;
    position: relative;
    float: left;
    bottom: -100px;
    cursor: default;
}
.jquery-timeline-grid-item-last {
    width: 75px;
}
.jquery-timeline-grid-point {
    height: 120px !important;
    width: 1px !important;
    background-color: #E1EAF1;
    position: absolute;
    left: 15px;
    bottom: -20px;
    z-index: 0;
}
.jquery-timeline-grid-date {
    position: absolute;
    background-color: white;
    bottom: -5px;
}

.jquery-timeline-item {
    text-shadow: 0.1em 0.1em 0.1em #666;
    position: absolute;
    padding: 0 10px;
    line-height: 30px;
    height: 30px;
    border: thin solid #a4b426;
    color: white;
    overflow: hidden;
    background-color: #eaf58b;
    background-image: -webkit-gradient(linear,left top,left bottom,from(#eaf58b),to(#a4b426));
    background-image: -webkit-linear-gradient(top,#eaf58b,#a4b426);
    background-image: -moz-linear-gradient(top,#eaf58b,#a4b426);
    background-image: -ms-linear-gradient(top,#eaf58b,#a4b426);
    background-image: -o-linear-gradient(top,#eaf58b,#a4b426);
    background-image: linear-gradient(to bottom,#eaf58b,#a4b426);
    filter:  progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#eaf58b', endColorstr='#a4b426');
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#eaf58b', endColorstr='#a4b426')";
}
.jquery-timeline-item.active,
.jquery-timeline-item:hover {
    border-color: #9ab72d;
    background-color: #c6d92d;
    background-image: -webkit-gradient(linear,left top,left bottom,from(#c6d92d),to(#9ab72d));
    background-image: -webkit-linear-gradient(top,#c6d92d,#9ab72d);
    background-image: -moz-linear-gradient(top,#c6d92d,#9ab72d);
    background-image: -ms-linear-gradient(top,#c6d92d,#9ab72d);
    background-image: -o-linear-gradient(top,#c6d92d,#9ab72d);
    background-image: linear-gradient(to bottom,#c6d92d,#9ab72d);
    filter:  progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#c6d92d', endColorstr='#9ab72d');
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#c6d92d', endColorstr='#9ab72d')";
}