@font-face {
    font-family: 'Chau Philomene One';
    font-style: normal;
    font-weight: 400;
    src: url(KKc5egCL-a2fFVoOA2x6tFiF4DoqBjFcjI-nIoIyfXc.eot);
    src: local('Chau Philomene One'), local('ChauPhilomeneOne-Regular'), url(KKc5egCL-a2fFVoOA2x6tFiF4DoqBjFcjI-nIoIyfXc.ttf) format('truetype');
}

.header > a, .header .accroche, .header h3, .column h3, .content h1, .content h2, .content h3, .content h4, .content h5, .content h6, .md-content h3 {
    font-family: 'Chau Philomene One', sans-serif;
}

body {
    margin: 0;
    padding: 0;
    background: url('../img/body_bg.jpg') repeat;
    font-family: Verdana;
    font-size: 8pt;
    color: #868686;
}
h1, h2, h3, h4, h5, h6 {
    color: #232222;
}
h1 {
    font-size: 30pt;
    margin-bottom: 20px;
}
h2 {
    font-size: 20pt;
    margin-bottom: 15px;
}
h3 {
    font-size: 20pt;
    margin-bottom: 10px;
    margin-top: 20px;
}
h4 {
    font-size: 18pt;
    margin-top: 30px;
}
h5 {
    font-size: 16pt;
}
h6 {
    font-size: 14pt;
}
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
    color: #232222;
}
.content .container .pdf,
.content .container .website,
.content .block .infos a,
.content .container .infos a,
.content .container .contents a,
.content .container .back,
.column ul li a:hover,
.footer a,
.content .block .chapo p a,
.header a:hover,
h1 span {
    color: #61a007;
}
textarea {
    -webkit-transition: height 0.2s;
    -moz-transition: height 0.2s;
    transition: height 0.2s;
}
.md-modal button, a.gradient {
    cursor: pointer;
    color: #2d400f;
    text-shadow: 0.1em 0.1em 0.1em white;
    text-align: center;
    border: thin solid #b3e544;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    -khtml-border-radius: 3px;
    behavior: url(/bundles/vinceadmin/css/border-radius.htc);
    display: inline-block;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: bold;
    box-shadow: 0 2px 5px #666;
    -moz-box-shadow: 0 2px 5px #666;
    -webkit-box-shadow: 0 2px 5px #666;
    background: #c6f441; /* Old browsers */
    background: -moz-linear-gradient(top,  #c6f441 0%, #93c643 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#c6f441), color-stop(100%,#93c643)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #c6f441 0%,#93c643 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #c6f441 0%,#93c643 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #c6f441 0%,#93c643 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #c6f441 0%,#93c643 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c6f441', endColorstr='#93c643',GradientType=0 ); /* IE6-9 */
}

.md-modal button:hover, a.gradient:hover {
    background: #c6f441; /* Old browsers */
    background: -moz-linear-gradient(top,  #93c643 0%, #c6f441 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#93c643), color-stop(100%,#c6f441)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #93c643 0%,#c6f441 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #93c643 0%,#c6f441 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #93c643 0%,#c6f441 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #93c643 0%,#c6f441 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#93c643', endColorstr='#c6f441',GradientType=0 ); /* IE6-9 */
}
a.linked {
    line-height: 28px;
    width: 128px;
}
.md-modal button {
    line-height: 28px;
    float: left;
    padding: 0 20px;
}
.md-content .buttons {
    overflow: hidden;
    width: 290px;
    margin: 10px auto 0;
    padding: 5px;
}
.md-modal button[type=submit] {
    margin-right: 30px;
}
.md-modal form > div {
    overflow: hidden;
    margin-bottom: 5px;
}
.md-modal form label {
    float: left;
    width: 165px;
    text-align: right;
    margin-right: 20px;
    padding-top: 5px;
}
.md-modal form input, .md-modal form textarea {
    float: right;
    width: 350px;
    border: none;
    line-height: 22px;
    padding: 0 5px;
    border-radius: 3px;
    border: thin solid #ccc;
}
.md-modal form input.error, .md-modal form textarea.error {
    border-color: red;
}
.md-modal form textarea {
    min-height: 100px;
}

.fractal {
    background: url('../img/fractal.png') no-repeat top right;
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
}

.wrapper {
    width: 950px;
    margin: 0 auto 40px;
    position: relative;
    z-index: 1;
}

.header {
    margin: 40px 0;
    position: relative;
}
.header > a {
    color: #232222;
    text-decoration: none;
    font-size: 30pt;
    float: left;
    margin-bottom: 30px;
}
.header .accroche {
    font-style: italic;
    color: #666;
    top: 50px;
    left: 5px;
    position: absolute;
    font-size: 1.5em;
}
.header > ul {
    float: right;
    list-style: none;
    margin: 10px 0 0 0;
}
.header > ul li {
    float: left;
}
.header > ul li a {
    text-transform: uppercase;
    padding: 0 25px;
    color: #232222;
    text-decoration: none;
    font-size: 10pt;
}
.header > ul li a.current {
    font-weight: bold;
    border-bottom: 10px solid #8cd207;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    -khtml-border-radius: 3px;
    behavior: url(/bundles/vinceadmin/css/border-radius.htc);
}

.content {
    background: url(../img/content.jpg) repeat-y;
    width: 671px;
    margin-bottom: 30px;
    -moz-box-shadow: 0 5px 10px #888;
    -webkit-box-shadow: 0 5px 10px #888;
    box-shadow: 0 5px 10px #888;
}
.content .content_top {
    height: 3px;
    background: url(../img/content_top.jpg) no-repeat;
}
.content .content_bottom {
    height: 3px;
    background: url(../img/content_bottom.jpg) no-repeat;
}
.content .container {
    padding: 15px 20px 30px;
    min-height: 600px;
}
.content h2.pagerTitle {
    margin-top: 50px;
    border-top: dotted 2px #61A007;
    padding-top: 20px;
    font-size: 30pt;
}
.content .empty {
    margin-bottom: 15px;
}
.content .block {
    margin-bottom: 25px;
}
.content .block .chapo {
    position: relative;
    float: left;
    border-right: dotted 2px #61a007;
    width: 450px;
    padding-right: 10px;
}
.content .block .chapo .thumbnail {
    float: left;
    margin-right: 10px;
    padding: 12px;
    width: 148px;
    height: 148px;
    background: url('../img/thumb.jpg') no-repeat;
    overflow: hidden;
}
.content .block .chapo .thumbnail img {
    height: 149px;
    width: 149px;
}
.content .block .chapo p {}
.content .block .chapo p a {
    font-weight: bold;
}
.content .block .chapo a.linked {
    float: right;
    margin-top: 10px;
}
.content .block .infos {
    float: right;
    width: 160px;
}
.content .block .infos .date {
    font-size: 1.3em;
    margin-bottom: 7px;
    text-transform: uppercase;
    display: block;
}
.content .block .infos .comments {
    display: block;
    padding-left: 20px;
    margin-bottom: 7px;
    background: url('../img/comment.png') no-repeat 0 2px;
}
.content .block .infos .tags {}
.content .pager {
    margin: 0 auto;
    width: 450px;
    line-height: 51px;
    color: #2d400f;
    text-shadow: 0.1em 0.1em 0.1em white;
    text-align: center;
    border: thin solid #b3e544;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    -khtml-border-radius: 3px;
    behavior: url(/bundles/vinceadmin/css/border-radius.htc);
    display: inline-block;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: bold;
    box-shadow: 0 2px 5px #666;
    -moz-box-shadow: 0 2px 5px #666;
    -webkit-box-shadow: 0 2px 5px #666;
    background: #c6f441; /* Old browsers */
    background: -moz-linear-gradient(top,  #c6f441 0%, #93c643 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#c6f441), color-stop(100%,#93c643)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #c6f441 0%,#93c643 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #c6f441 0%,#93c643 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #c6f441 0%,#93c643 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #c6f441 0%,#93c643 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c6f441', endColorstr='#93c643',GradientType=0 ); /* IE6-9 */
}
.content .container .infos {
    text-transform: uppercase;
    margin-bottom: 10px;
    font-size: 0.8em;
}
.content .container .infos a:hover {
    text-decoration: underline;
}
.content .container > .cv-thumbnail,
.content .container > .thumbnail {
    background: url('../img/post_thumbnail.png') no-repeat;
    width: 606px;
    height: 347px;
    padding: 12px;
    overflow: hidden;
    margin-bottom: 10px;
}
.content .container > .thumbnail img {
    width: 606px;
    height: 347px;
}
.content .container > .cv-thumbnail {
    background: url('../img/cv_thumbnail.png') no-repeat;
    height: 120px;
}
#jquery-timeline {
    width: 100%;
    position: relative;
}
.jquery-timeline-item-formation {
    border: thin solid #4886CE;
    background-color: #51DEF4;
    background-image: -webkit-gradient(linear,left top,left bottom,from(#51DEF4),to(#4886CE));
    background-image: -webkit-linear-gradient(top,#51DEF4,#4886CE);
    background-image: -moz-linear-gradient(top,#51DEF4,#4886CE);
    background-image: -ms-linear-gradient(top,#51DEF4,#4886CE);
    background-image: -o-linear-gradient(top,#51DEF4,#4886CE);
    background-image: linear-gradient(to bottom,#51DEF4,#4886CE);
    filter:  progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#51DEF4', endColorstr='#4886CE');
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#51DEF4', endColorstr='#4886CE')";
}
.jquery-timeline-item-formation.active,
.jquery-timeline-item-formation:hover {
    border-color: #3775BD;
    background-color: #41BDE3;
    background-image: -webkit-gradient(linear,left top,left bottom,from(#41BDE3),to(#3775BD));
    background-image: -webkit-linear-gradient(top,#41BDE3,#3775BD);
    background-image: -moz-linear-gradient(top,#41BDE3,#3775BD);
    background-image: -ms-linear-gradient(top,#41BDE3,#3775BD);
    background-image: -o-linear-gradient(top,#41BDE3,#3775BD);
    background-image: linear-gradient(to bottom,#41BDE3,#3775BD);
    filter:  progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#41BDE3', endColorstr='#3775BD');
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#41BDE3', endColorstr='#3775BD')";
}
.content .container .contents {}
.content .container .contents a {
    font-weight: bold;
}
.content .container .contents a:hover {
    text-decoration: underline;
}
.content .container .contents ul {}
.content .container .contents ul li {}
.content .container .contents ul li strong {}
.content .container .contents ul li strong a {}
.content .container .contents .info {
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    -khtml-border-radius: 3px;
    behavior: url(/bundles/vinceadmin/css/border-radius.htc);
    background: #EEE url('../img/info.png') no-repeat 20px center;
    padding: 30px 30px 30px 80px;
    margin: 30px 40px;
    border: thin dashed #CCC;
}
.content .container .back {
    font-size: 1.2em;
    margin-bottom: 20px;
    display: block;
}
.content .container .pdf,
.content .container .website {
    text-transform: uppercase;
    display: block;
    text-align: center;
    padding: 20px;
    margin-bottom: 10px;
}
.content .container .pdf {
    background: #EEE url('../img/pdf.png') no-repeat 190px;
    border: thin dotted #666;
    margin-bottom: 20px;
}
.content .container .contents ol {}
.content .container .contents ol li {}
.content .container .contents ol li a {}
.content .container .contents h2 {
    margin-top: 40px;
    padding-top: 30px;
    border-top: thin dashed #CCC;
}
.content .container .contents pre {}
.content .container .contents i {}
.content .container .social {
    text-align: right;
    margin-top: 40px;
}
.content .container .social .viadeo-share-button {
    display: inline-block;
}
.content .container #commentaires h4 {
    width: 45%;
    border-top: 2px dotted #61a007;
    text-align: center;
    margin: 30px auto 10px;
    padding: 20px 0;
}
.content .container #commentaires .comment {
    margin-bottom: 30px;
}
.content .container #commentaires .comment img {
    float: left;
    border: thin solid #CCC;
    width: 50px;
    height: 50px;
    margin-right: 15px;
}
.content .container #commentaires .comment h5 {
    color: #232222;
    font-size: 12pt;
    margin-bottom: 10px;
    padding-top: 5px;
}
.content .container #commentaires .comment h5 a {
    color: #232222;
}
.content .container #commentaires .comment .infos {
    color: #868686;
}
.content .container #commentaires .comment .infos a {
    text-transform: none;
}
.content .container #commentaires .comment .message {
    clear: both;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    -khtml-border-radius: 10px;
    behavior: url(/bundles/vinceadmin/css/border-radius.htc);
    background: #EEE;
    padding: 20px;
    color: #666;
    margin: 20px 10px 10px 65px;
    border: thin solid #CCC;
}
.content .container #commentaires .pager {
    margin: 0 auto;
    display: block;
}
.content .container form.commentary {
    margin-top: 30px;
    padding-left: 100px;
    width: 520px;
}
.content .container form.commentary label {
    float: right;
    clear: both;
    width: 250px;
    line-height: 25px;
    text-transform: uppercase;
    font-weight: normal;
}
.content .container form.commentary input[type="text"] {
    margin-bottom: 10px;
    margin-right: 5px;
    width: 200px;
    float: left;
}
.content .container form.commentary textarea {
    width: 500px;
    min-height: 120px;
}
.content .container form.commentary input[type="submit"] {
    width: 100px;
    line-height: 25px;
    height: 30px;
    display: block;
    margin: 10px auto !important;
}
.content .container #commentaires .comment form.commentary {
    margin-top: 0;
    padding-left: 100px;
    display: none;
}

.column {
    width: 270px;
}
.column h3 {
    margin-top: 40px;
}
.column form {
    position: relative;
}
.column form input[type="search"] {
    -webkit-appearance: none;
    border: thin solid #cfcfcf;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
    behavior: url(/bundles/vinceadmin/css/border-radius.htc);
    line-height: 35px;
    height: 35px;
    width: 100%;
    padding-left: 7px;
    padding-right: 35px;
}
input::-webkit-search-decoration,
input::-webkit-search-cancel-button {
    display: none;
}
.column form input[type="submit"] {
    position: absolute;
    right: 0;
    top: 0;
    height: 35px;
    width: 34px;
    border: none;
    border-left: thin solid #cfcfcf;
    background: url(../img/looper.png) no-repeat center;
}
/** HACK FIREFOX **/
@-moz-document url-prefix() {
    html:not([lang*=""]) .column form input[type="search"] {
        width: 235px;
    }
    html:not([lang*=""]) .column form input[type="submit"] {
        height: 38px;
        right: -7px;
    }
}
/** FIN HACK FIREFOX **/
.column ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
.column ul li {
    border-bottom: thin solid #cfcfcf;
    line-height: 30px;
}
.column ul li a {
    text-transform: uppercase;
    color: #868686;
}
.column .social a {
    margin-right: 10px;
}
.column .avatar {
    margin: 30px 10px 0 10px;
    box-shadow: 0 5px 10px #666;
    -moz-box-shadow: 0 5px 10px #666;
    -webkit-box-shadow: 0 5px 10px #666;
}
.content .container .skill {
    display: none;
}
.content .container .skill h4 {
    margin: 20px 0 10px;
    background: url('../img/dot.png') no-repeat 0 3px;
    padding-left: 25px;
}
.content .container .skill > p,
.content .container .skill .description,
.content .container .skill .infos {
    margin-left: 25px;
}
.content .container .skill .infos a {
    font-weight: normal;
}
.content .container .skill .description {
    padding: 5px 0;
}
.content .container .skill .description p {
    margin: 10px 0;
}
.content .container .skill .recommandation {
    margin: 15px auto 20px;
    width: 500px;
    font-size: 1.1em;
}
.content .container .skill .recommandation .citation {
    background: url('../img/quote-open.png') no-repeat;
    padding-left: 60px;
    padding-top: 30px;
    font-style: italic;
    min-height: 33px;
    line-height: 17px;
    display: block;
}
.content .container .skill .recommandation .author {
    background: url('../img/quote-close.png') no-repeat right;
    height: 33px;
    display: block;
    font-weight: bold;
    font-style: normal;
}
.content .container .hobbies {
    background: url('../img/hobbies.jpg') no-repeat;
    margin: 0;
    padding: 0;
    list-style: none;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
    behavior: url(/bundles/vinceadmin/css/border-radius.htc);
    text-shadow: 2px 2px 3px black;
    height: 50px;
}
.content .container .hobbies li {
    float: left;
    text-align: center;
    color: white;
    width: 25%;
    font-weight: bold;
    font-size: 1.2em;
    line-height: 50px;
    height: 50px;
}

.footer {
    text-align: center;
    line-height: 50px;
    font-size: 1.1em;
    color: #BBB;
    text-transform: uppercase;
    background: url('../img/footer_bg.png') repeat;
    position: relative;
    /*position: fixed;
    bottom: 0;
    width: 100%;*/
    z-index: 1;
}

/** FORK **/
.fork {
    z-index: 10;
    font-size: 10pt;
    background-color: #a00;
    overflow: hidden;
    position: fixed;
    right: -5em;
    /*bottom: 3em;
    transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);*/
    top: 3em;
    transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    box-shadow: 0 0 1em #888;
    -moz-box-shadow: 0 0 1em #888;
    -webkit-box-shadow: 0 0 1em #888;
}
.fork a {
    border: 1px solid #faa;
    color: white;
    display: block;
    font: bold 81.25% 'Helvetiva Neue', Helvetica, Arial, sans-serif;
    margin: 0.05em 0;
    padding: 0.5em 3.5em;
    text-align: center;
    text-decoration: none;
    width: 150px;
}
/** FIN FORK **/