{#{ form_start(form, {'method': 'POST', 'action': path('cms_contact')}) }}
    {{ form_errors(form) }}
    {{ form_rest(form) }}
    <div class="buttons">
        <button type="submit" title="Envoyez le formulaire">Envoyez le formulaire</button>
        <button type="button" class="md-close" title="Fermer">Fermer</button>
    </div>
{{ form_end(form) }#}