/**
 * Vert clair : #83C229
 * Vert foncé : #61a007
 * Gris clair : #868686
 * Gris foncé : #222
 */

/** Google Font **/
@font-face {
    font-family: 'Chau Philomene One';
    font-style: normal;
    font-weight: 400;
    src: url(KKc5egCL-a2fFVoOA2x6tFiF4DoqBjFcjI-nIoIyfXc.eot);
    src: local('Chau Philomene One'), local('ChauPhilomeneOne-Regular'), url(KKc5egCL-a2fFVoOA2x6tFiF4DoqBjFcjI-nIoIyfXc.ttf) format('truetype');
}
/** End Google Font **/

/** Miscellaneous **/
html {
    background: url('../images/body_bg.jpg') repeat;
    height: 100%;
}

body {
    background: url(../images/fractal.png) no-repeat top right fixed;
    word-wrap: break-word;
}

.container {
    max-width: 950px;
    padding: 0;
}

p {
    text-align: justify;
}

img {
    max-width: 100%;
}

a, a:before, a:after {
    -webkit-transition: color .2s;
    -moz-transition: color .2s;
    -o-transition: color .2s;
    transition: color .2s;
    font-weight: bold;
}

a:hover {
    text-decoration: none;
    color: #83C229;
}

h1, h2, h3, h4, h5, h6, h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
    font-family: 'Chau Philomene One', sans-serif;
    color: #222;
    margin: 0 0 15px 0;
}

h1[id], h2[id], h3[id], h4[id], h5[id], h6[id] {
    cursor: pointer;
}

h1[id]:before, h2[id]:before, h3[id]:before, h4[id]:before, h5[id]:before, h6[id]:before {
    content: '¶';
    color: #ddd;
    font-size: 0.7em;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    margin-right: 5px;
}

h1[id]:hover:before, h2[id]:hover:before, h3[id]:hover:before, h4[id]:hover:before, h5[id]:hover:before, h6[id]:hover:before {
    color: #222;
}

#toTop {
    bottom: 75px;
}

.btn.btn-success {
    background: #c6f441;
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2M2ZjQ0MSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM5M2M2NDMiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top,  #c6f441 0%, #93c643 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#c6f441), color-stop(100%,#93c643));
    background: -webkit-linear-gradient(top,  #c6f441 0%,#93c643 100%);
    background: -o-linear-gradient(top,  #c6f441 0%,#93c643 100%);
    background: -ms-linear-gradient(top,  #c6f441 0%,#93c643 100%);
    background: linear-gradient(to bottom,  #c6f441 0%,#93c643 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c6f441', endColorstr='#93c643',GradientType=0 );
    -moz-box-shadow: 0px 2px 5px 0px #656565;
    -webkit-box-shadow: 0px 2px 5px 0px #656565;
    -o-box-shadow: 0px 2px 5px 0px #656565;
    box-shadow: 0px 2px 5px 0px #656565;
    filter:progid:DXImageTransform.Microsoft.Shadow(color=#656565, Direction=180, Strength=5);
    color: #222;
    text-transform: uppercase;
    border: none;
    font-weight: bold;
    text-shadow: 0.1em 0.1em 0.1em rgba(255, 255, 255, 0.8);
}

.btn.btn-success:hover {
    background: #b5e330;
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2I1ZTMzMCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM4MmI1MzIiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top,  #b5e330 0%, #82b532 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#b5e330), color-stop(100%,#82b532));
    background: -webkit-linear-gradient(top,  #b5e330 0%,#82b532 100%);
    background: -o-linear-gradient(top,  #b5e330 0%,#82b532 100%);
    background: -ms-linear-gradient(top,  #b5e330 0%,#82b532 100%);
    background: linear-gradient(to bottom,  #b5e330 0%,#82b532 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b5e330', endColorstr='#82b532',GradientType=0 );
}

.info {
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    -khtml-border-radius: 3px;
    background: #efefef url('../images/info.png') no-repeat 20px center;
    padding: 30px 30px 30px 80px;
    margin: 30px 0;
    border: thin dashed #CCC;
}

ul.tags {
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: hidden;
}

ul.tags li {
    float: left;
}

ul.tags li a {
    font-weight: normal;
}

ul.tags li:after {
    content: ',';
    margin-right: 3px;
}

ul.tags li:last-child:after {
    display: none;
    margin-right: 0;
}

@media (min-width: 480px) {
    .info {
        margin-left: 40px;
        margin-right: 40px;
    }
}

.loading {
    background: url('../images/spinner.gif') center center no-repeat;
    display: inline-block;
}

.alert {
    -vendor-animation-duration: 3s;
    -vendor-animation-delay: 2s;
    -vendor-animation-iteration-count: infinite;
    position: absolute;
    top: 20px;
    width: auto;
    z-index: 10000;
    font-size: 1.2em;
    -moz-box-shadow: 0px 0px 10px 0px #656565;
    -webkit-box-shadow: 0px 0px 10px 0px #656565;
    -o-box-shadow: 0px 0px 10px 0px #656565;
    box-shadow: 0px 0px 10px 0px #656565;
    filter:progid:DXImageTransform.Microsoft.Shadow(color=#656565, Direction=NaN, Strength=10);
}
/** End Miscellaneous **/

/** Header **/
header {
    overflow: hidden;
    font-family: 'Chau Philomene One', sans-serif;
    text-shadow: 0.1em 0.1em 0.1em rgba(255, 255, 255, 0.8);
    padding-top: 20px !important;
    margin-bottom: 20px;
}

header a.sitename {
    z-index: 1001;
    color: #222;
    font-size: 3.5em;
    display: inline-block;
    float: left;
    font-weight: normal;
}

header a.sitename:hover {
    color: #83C229;
}

header a.sitename span {
    font-size: 0.4em;
    color: #868686;
    display: block;
    padding-left: 5px;
}

@media (min-width: 521px) and (max-width: 842px) {
    header {
        margin-bottom: 0;
    }
}
/** End Header **/

/** Navbar **/
.navbar-default {
    background: none;
    border: none;
    margin-bottom: 0;
    min-height: 40px;
}

.navbar-default .navbar-header {
    padding-top: 10px;
}

.navbar-default .navbar-toggle {
    border-color: #61a007;
}

.navbar-default .navbar-toggle:hover {
    border-color: #83C229;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #61a007;
}

.navbar-default .navbar-toggle:hover .icon-bar {
    background-color: #83C229;
}

.navbar-default .navbar-collapse {
    border: none;
}

.navbar-default .navbar-nav {
    margin: 0;
}

.navbar-default .navbar-nav li {
    line-height: 30px;
}

.navbar-default .navbar-nav li a {
    font-size: 1.3em;
    font-weight: normal;
    text-transform: uppercase;
    color: #222;
    padding: 0;
    display: inline-block;
    position: relative;
}

.navbar-default .navbar-nav li a img {
    position: absolute;
    top: -20px;
    left: 0;
}

.navbar-default .navbar-nav li.active a:hover,
.navbar-default .navbar-nav li a:hover {
    color: #83C229;
}

.navbar-default .navbar-nav li.active a,
.navbar-default .navbar-nav li.active a:hover {
    background: none;
}

.navbar-default .navbar-nav li.active a {
    color: #83C229;
    font-weight: bold;
    background: none;
}

@media (min-width: 521px) {
    .navbar-default {
        margin-top: 20px;
        display: inline-block;
    }

    .navbar-default .navbar-header {
        display: none;
    }

    .navbar-default .navbar-collapse {
        display: block;
        overflow-y: inherit;
    }

    .navbar-default .navbar-nav li {
        float: left;
        line-height: normal;
    }

    .navbar-default .navbar-nav li a {
        padding: 0 10px;
    }

    .navbar-default .navbar-nav li.active a {
        color: #222;
        border-radius: 3px;
        -moz-border-radius: 3px;
        -webkit-border-radius: 3px;
        -khtml-border-radius: 3px;
        border-bottom: 10px solid #8cd207;
    }
}

@media (min-width: 842px) {
    .navbar-default {
        margin-top: 30px;
        float: left;
    }

    .navbar-default .navbar-nav {
        float: right;
    }
}
/** End Navbar **/

/** Carousel **/
#carousel {
    margin-bottom: 20px;
}

#carousel .carousel-inner {
    padding-bottom: 15px;
}

#carousel .carousel-indicators {
    bottom: -10px;
    left: 0;
    width: 100%;
    margin: 0;
}

#carousel .carousel-indicators li {
    border-color: #61a007;
}

#carousel .carousel-indicators li:hover {
    border-color: #83C229;
}

#carousel .carousel-indicators .active {
    background-color: #61a007;
}

#carousel .item {
    padding: 10px;
}

#carousel .item img {
    -webkit-transition: max-width .5s;
    -moz-transition: max-width .5s;
    -o-transition: max-width .5s;
    transition: max-width .5s;
    padding: 10px;
    background-color: white;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    -khtml-border-radius: 3px;
    -moz-box-shadow: 0px 0px 10px 0px #656565;
    -webkit-box-shadow: 0px 0px 10px 0px #656565;
    -o-box-shadow: 0px 0px 10px 0px #656565;
    box-shadow: 0px 0px 10px 0px #656565;
    filter: progid:DXImageTransform.Microsoft.Shadow(color=#656565, Direction=NaN, Strength=10);
}

#carousel .carousel-caption {
    left: 20px;
    right: 20px;
    bottom: 20px;
    overflow: hidden;
    text-align: justify;
    padding: 10px;
    background: rgba(0, 0, 0, 0.6);
}

#carousel .carousel-caption h2 {
    color: white;
}

#carousel .carousel-caption .btn-success {
    margin-top: 20px;
}

@media (min-width: 842px) {
    #carousel {
        padding-bottom: 10px;
    }

    #carousel .carousel-indicators {
        max-width: 60%;
    }

    #carousel .item {
        max-width: none;
    }

    #carousel .item > a {
        float: left;
        max-width: 60%;
    }

    #carousel .carousel-caption {
        max-width: 38%;
        float: left;
        position: relative;
        background: none;
        top: 0;
        color: #868686;
        text-shadow: none;
    }

    #carousel .carousel-caption h2 {
        color: #222;
        text-shadow: 0.1em 0.1em 0.1em rgba(255, 255, 255, 0.6);
    }
}
/** End Carousel **/

/** Article **/
#article {
    padding: 10px;
    overflow: hidden;
}

#article article {
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    -khtml-border-radius: 3px;
    background-color: white;
    -moz-box-shadow: 0px 0px 10px 0px #656565;
    -webkit-box-shadow: 0px 0px 10px 0px #656565;
    -o-box-shadow: 0px 0px 10px 0px #656565;
    box-shadow: 0px 0px 10px 0px #656565;
    filter: progid:DXImageTransform.Microsoft.Shadow(color=#656565, Direction=NaN, Strength=10);
}

#article article .btn {
    margin: 0 5px 5px 5px;
}

#article article h2 {
    margin-top: 20px;
}

#article article h2:first-child {
    margin-top: 0;
}

#article article section.chapo {
    margin-bottom: 20px;
    overflow: hidden;
    font-size: 0.9em;
}

#article article section.chapo span {
    display: block;
}

#article article .post {
    margin-bottom: 30px;
    overflow: hidden;
    font-size: 1em;
}

#article article .post .col-md-9 {
    padding: 10px;
    position: relative;
}

#article article .post .col-md-9 img {
    -webkit-transition: max-width .5s;
    -moz-transition: max-width .5s;
    -o-transition: max-width .5s;
    transition: max-width .5s;
    padding: 10px;
    background-color: white;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    -khtml-border-radius: 3px;
    -moz-box-shadow: 0px 0px 10px 0px #656565;
    -webkit-box-shadow: 0px 0px 10px 0px #656565;
    -o-box-shadow: 0px 0px 10px 0px #656565;
    box-shadow: 0px 0px 10px 0px #656565;
    filter: progid:DXImageTransform.Microsoft.Shadow(color=#656565, Direction=NaN, Strength=10);
}

#article article .post .col-md-9 .description {
    position: absolute;
    left: 20px;
    right: 20px;
    bottom: 19px;
    overflow: hidden;
    text-align: justify;
    padding: 10px;
    background: rgba(0, 0, 0, 0.6);
    color: white;
}

#article article .post .col-md-9 .description .btn-success {
    margin-top: 20px;
}

#article article .post .col-md-3 {
    margin-top: 15px;
    padding: 10px 0 0 0;
    border-top: 2px dotted #61a007;
    font-size: 0.9em;
}

#article article .post .col-md-3 > span {
    text-transform: uppercase;
    margin-bottom: 5px;
}

#article article .post .col-md-3 .tags {
    margin-top: 5px;
}

#article article .post .col-md-3 > a:before {
    font-family: 'Glyphicons Halflings';
    position: relative;
    top: 1px;
    display: inline-block;
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    margin-right: 5px;
    content: "\e111";
}

#article article .post .col-md-3 > span:after {
    content: '•';
    padding: 0 5px;
    color: #868686;
}

#article article > img {
    -webkit-transition: max-width .5s;
    -moz-transition: max-width .5s;
    -o-transition: max-width .5s;
    transition: max-width .5s;
    padding: 10px;
    background-color: white;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    -khtml-border-radius: 3px;
    -moz-box-shadow: 0px 0px 10px 0px #656565;
    -webkit-box-shadow: 0px 0px 10px 0px #656565;
    -o-box-shadow: 0px 0px 10px 0px #656565;
    box-shadow: 0px 0px 10px 0px #656565;
    filter: progid:DXImageTransform.Microsoft.Shadow(color=#656565, Direction=NaN, Strength=10);
}

#article article a.back {
    font-weight: normal;
    margin-bottom: 5px;
    display: inline-block;
    top: 1px;
}

#article article a.back:before {
    content: "\e091";
    font-family: 'Glyphicons Halflings';
    position: relative;
    display: inline-block;
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    margin-right: 5px;
    color: #61a007;
}

#article article a.back:hover:before {
    color: #83C229;
}

#article article a.website {
    display: block;
    text-transform: uppercase;
    text-align: center;
    margin: 20px 0;
    font-weight: normal;
}

#article article .share {
    margin: 20px;
    padding: 10px;
    text-align: center;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    -khtml-border-radius: 3px;
    background: #efefef;
    border: thin dashed #CCC;
}

#article article .share ul {
    margin: 0 auto;
    padding: 0;
    list-style: none;
    max-width: 360px;
    overflow: hidden;
}

#article article .share li {
    float: left;
    height: 70px;
    padding: 0 8px;
}

#article article .share li .viadeo_widget_recommend .bubble {
    padding-top: 0;
    height: 35px;
    background-color: white;
}

#article article .share li .viadeo_widget_recommend .bubble > span {
    padding-top: 7px;
    display: inline-block;
}

@media (min-width: 480px) {
    #article article .post .col-md-9 {
        border-right: 2px dotted #61a007;
    }

    #article article .post .col-md-9 {
        width: 75%;
        float: left;
    }

    #article article .post .col-md-3 {
        width: 25%;
        float: left;
        border-top: none;
        padding: 0 0 0 10px;
        margin-top: 0;
    }

    #article article .post .col-md-3 > * {
        display: block;
    }

    #article article .post .col-md-3 > span:after {
        content: '';
    }
}
/** End Article **/

/** Aside **/
#article aside {
    padding: 0;
}

#article aside h2 {
    margin-top: 20px;
}

#article aside form .input-group-btn {
    left: -1px;
}

#article aside ul {
    list-style: none;
    padding: 0;
    margin: 0;
    overflow: hidden;
}

#article aside ul li {
    border-bottom: 1px solid #cfcfcf;
    line-height: 30px;
}

#article aside ul.follow li {
    float: left;
    padding: 0 2px;
    border: none;
    line-height: normal;
}

#article aside ul li a {
    text-transform: uppercase;
    color: #868686;
    font-weight: normal;
}

#article aside ul li a:hover {
    color: #83C229;
}

@media (min-width: 842px) {
    #article aside {
        padding-left: 15px;
    }
}
/** End Aside **/

/** Footer **/
footer {
    width: 100%;
    clear: both;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.6);
    color: #cfcfcf;
    text-transform: uppercase;
    font-size: 0.9em;
}

footer p {
    text-align: center;
}
/** End Footer **/

/** Contact **/
body.modal-open {
    margin-right: 0;
}

.modal-backdrop.in {
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-footer, .modal-header {
    padding: 15px;
    background-color: #f5f5f5;
    margin: 0;
}

.modal-header {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    -moz-border-radius-topleft: 3px;
    -moz-border-radius-topright: 3px;
    -webkit-border-top-left-radius: 3px;
    -webkit-border-top-right-radius: 3px;
    -khtml-border-radius-topleft: 3px;
    -khtml-border-radius-topright: 3px;
}

.modal-footer {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    -moz-border-radius-bottomleft: 3px;
    -moz-border-radius-bottomright: 3px;
    -webkit-border-bottom-left-radius: 3px;
    -webkit-border-bottom-right-radius: 3px;
    -khtml-border-radius-bottomleft: 3px;
    -khtml-border-radius-bottomright: 3px;
}

#contact .modal-header span {
    font-size: 0.7em;
    top: 0;
    margin-right: 10px;
}

#contact label {
    display: none;
}

#contact textarea, #contact input {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    -moz-border-radius-bottomright: 3px;
    -moz-border-radius-topright: 3px;
    -webkit-border-bottom-right-radius: 3px;
    -webkit-border-top-right-radius: 3px;
    -khtml-border-radius-bottomright: 3px;
    -khtml-border-radius-topright: 3px;
}

#contact textarea:valid, #contact input:valid {
    padding-right: 40px;
    border-color: rgba(131, 194, 41, 0.8);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(126, 239, 104, 0.6);
}

#contact textarea:valid ~ .input-validation, #contact input:valid ~ .input-validation {
    position: absolute;
    height: 29px;
    line-height: 29px;
    width: 30px;
    background-color: #eee;
    border-left: 1px solid #ccc;
    top: 1px;
    right: 1px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    -moz-border-radius-bottomright: 3px;
    -moz-border-radius-topright: 3px;
    -webkit-border-bottom-right-radius: 3px;
    -webkit-border-top-right-radius: 3px;
    -khtml-border-radius-bottomright: 3px;
    -khtml-border-radius-topright: 3px;
    text-align: center;
    padding-left: 3px;
}

#contact textarea:valid ~ .input-validation {
    height: 98%;
}

#contact textarea:valid ~ .input-validation::before, #contact input:valid ~ .input-validation::before {
    font-family: 'Glyphicons Halflings';
    position: relative;
    top: 1px;
    display: inline-block;
    font-style: normal;
    font-weight: normal;
    font-size: 1.3em;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    margin-right: 5px;
    content: "\e013";
    color: #61a007;
}

#contact .input-group {
    margin-bottom: 10px;
}

#contact .input-group:last-child {
    margin-bottom: 0;
}

#contact .input-group-addon {
    font-size: 14px;
    color: #222;
}

#contact textarea {
    min-height: 100px;
    vertical-align: top;
    transition: height 0.2s;
    -webkit-transition: height 0.2s;
    -moz-transition: height 0.2s;
}
/** End Contact **/

/** Fork **/
.fork {
    z-index: 10;
    font-size: 10pt;
    background-color: #a00;
    overflow: hidden;
    position: fixed;
    right: -5em;
    bottom: 4em;
    transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    box-shadow: 0 0 1em #888;
    -moz-box-shadow: 0 0 1em #888;
    -webkit-box-shadow: 0 0 1em #888;
}

.fork a {
    border: 1px solid #faa;
    color: white;
    display: block;
    font: bold 81.25% 'Helvetiva Neue', Helvetica, Arial, sans-serif;
    margin: 0.05em 0;
    padding: 0.5em 3.5em;
    text-align: center;
    text-decoration: none;
    width: 250px;
}

@media (min-width: 521px) and (max-width: 842px), (min-width: 920px) {
    .fork {
        bottom: auto;
        top: 4em;
        transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        -webkit-transform: rotate(45deg);
        -o-transform: rotate(45deg);
    }
}
/** End Fork **/

/** CV **/
.pdf {
    text-transform: uppercase;
    text-align: center;
    font-weight: normal;
    display: block;
    padding: 20px;
    background-color: #eee;
    border: thin dotted #666;
    margin-bottom: 20px;
}

.timeline-container {
    padding: 10px;
    margin-bottom: 20px;
    -webkit-transition: max-width .5s;
    -moz-transition: max-width .5s;
    -o-transition: max-width .5s;
    transition: max-width .5s;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    -khtml-border-radius: 3px;
    -moz-box-shadow: 0px 0px 10px 0px #656565;
    -webkit-box-shadow: 0px 0px 10px 0px #656565;
    -o-box-shadow: 0px 0px 10px 0px #656565;
    box-shadow: 0px 0px 10px 0px #656565;
    filter: progid:DXImageTransform.Microsoft.Shadow(color=#656565, Direction=NaN, Strength=10);
}

.jquery-timeline-item-formation {
    border: thin solid #4886CE;
    background-color: #51DEF4;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#51DEF4), to(#4886CE));
    background-image: -webkit-linear-gradient(top, #51DEF4, #4886CE);
    background-image: -moz-linear-gradient(top, #51DEF4, #4886CE);
    background-image: -ms-linear-gradient(top, #51DEF4, #4886CE);
    background-image: -o-linear-gradient(top, #51DEF4, #4886CE);
    background-image: linear-gradient(to bottom, #51DEF4, #4886CE);
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr='#51DEF4', endColorstr='#4886CE');
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#51DEF4', endColorstr='#4886CE')";
}

.jquery-timeline-item-formation.active, .jquery-timeline-item-formation:hover {
    border-color: #3775BD;
    background-color: #41BDE3;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#41BDE3), to(#3775BD));
    background-image: -webkit-linear-gradient(top, #41BDE3, #3775BD);
    background-image: -moz-linear-gradient(top, #41BDE3, #3775BD);
    background-image: -ms-linear-gradient(top, #41BDE3, #3775BD);
    background-image: -o-linear-gradient(top, #41BDE3, #3775BD);
    background-image: linear-gradient(to bottom, #41BDE3, #3775BD);
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr='#41BDE3', endColorstr='#3775BD');
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#41BDE3', endColorstr='#3775BD')";
}

.jquery-timeline-item:hover {
    color: white;
}

.skill {
    display: none;
    margin-bottom: 20px;
}

.skill .infos {
    font-size: 0.9em;
    margin-bottom: 10px;
}

.skill h4 {
    font-size: 1.5em;
}

.skill h4:before {
    border-radius: 10px;
    content: ' ';
    background-color: #83C229;
    display: inline-block;
    width: 10px;
    height: 10px;
    margin-right: 5px;
}
/** End CV **/