<!DOCTYPE html>
<html>
    <head>
        <title>Mail</title>
        <meta charset="UTF-8" />
        <style type="text/css">
            body {
                -webkit-text-size-adjust: none;
                -ms-text-size-adjust: none;
                margin: 0;
                padding: 0;
                background-color: #f2f2f2;
                text-align: justify;
                font-family: Georgia,serif;
                font-size: 15px;
                line-height: 24px;
                color: #656465;
            }

            h1, h2, h3, h4, h5, h6, p {
                margin: 0;
                padding: 0;
            }

            h1, h2, h3, h4, h5, h6 {
                color: #323132;
                font-family: Georgia, serif;
                font-weight: normal;
                font-size: 15px;
                line-height: 22px;
                text-transform: uppercase;
            }

            h1 {
                font-size: 18px;
                line-height: 28px;
            }

            p {
                padding: 20px 0;
            }

            a {
                text-decoration: none;
                color: #957941;
            }

            a:hover {
                color: #735a29;
            }

            #container {
                margin: 8px auto;
                width: 692px;
            }

                /** HEADER **/
            #header {
                padding: 15px 50px 25px;
                text-align: center;
                background: #f9f9f9 url('http://blog.local/templates/mail/images/header.jpg') no-repeat 0 0;
                height: 114px;
            }
            #header h1 {
                padding: 10px 0 5px;
                font-size: 22px;
                width: 80%;
                margin: 0 auto;
                letter-spacing: 2px;
            }
            #header hr {
                width: 50%;
                border: none;
                background-color: #eaeaea;
                height: 1px;
            }
            #header h2 {
                padding: 10px 0 20px;
                font-size: 18px;
                border-bottom: 1px solid #d9d9d9;
                text-transform: none;
            }

                /** CONTENTS **/
            #contents {
                background-color: #f9f9f9;
                width: 568px;
                padding: 0 50px;
                margin: 0 12px;
            }

                /** FOOTER **/
            #footer {
                padding: 25px 35px;
                text-align: center;
                background: url('http://blog.local/templates/mail/images/footer.jpg') no-repeat 0 0;
                height: 70px;
                font-size: 12px;
            }
            #footer p {
                margin-top: 20px;
            }

                /** MOBILE **/
            @media only screen and (max-device-width: 480px) {
            }

                /** iPad **/
            @media only screen and (min-device-width: 768px) and (max-device-width: 1024px)  {
            }
        </style>
    </head>
    <body>
        <div id="container">
            <div id="header">
                <h1>Blog de Vincent Chalamon</h1>
                <hr />
                <h2>Titre de mon e-mail</h2>
            </div>
            <div id="contents">
                <h2>Nemo enim ipsam voluptatem quia voluptas sit</h2>
                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligu eget dolor. Aenean
                   massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec
                   quam felis, ultricies nec, pelle tesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec
                   pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a,
                   venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidaeon al consequat
                   massa quis enim nec.<br /><a href="#">Read more</a></p>
                <img src="http://templates.indextwo.com/e-mail/elegance/images/img-main.jpg" />
                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligu eget dolor. Aenean
                   massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec
                   quam felis, ultricies nec, pelle tesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec
                   pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a,
                   venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidaeon al consequat
                   massa quis enim nec.<br /><a href="#">Read more</a></p>
            </div>
            <div id="footer">
                <p>&copy; 2013 <a href="">Vincent Chalamon</a></p>
            </div>
        </div>
    </body>
</html>